body {
    padding-top: 0;
}

.header-main-screen--block {
    margin-top: 30px;
    width: 100%;
    max-width: 1620px;
    /*padding: 0 150px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-main-screen--block .logo--link img {
    display: block;
    height: 40px;
}

.header-main-screen--block .links--block {
    display: flex;
    margin-left: 85px;
}

.header-main-screen--block .links--block a {
    color: #ffffff;
    font-family: montserrat-medium;
    font-size: 13px;
    margin-right: 50px;
    padding: 5px;
}

.header-main-screen--block .links--block a.active {
    font-family: montserrat-semibold;
    border-bottom: 1px solid #ffffff;
}

.header-main-screen--block .links--block a:last-child {
    margin-right: 0;
}

.header-main-screen--block .login-signup--link {
    width: 221px;
    font-family: montserrat-regular;
    font-size: 13px;
    color: #ffffff;
}

.header-main-screen--block .login-signup--link a {
    color: #ffffff;
    font-family: montserrat-semibold;
    text-decoration: underline;
}

.main-screen--block {
    width: 100%;
    height: 673px;
    background: linear-gradient(0deg, rgba(23, 80, 145, 0.9), rgba(23, 80, 145, 0.9)), url("/img/main-screen.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-screen--block .title {
    margin-top: 70px;
    font-family: montserrat-bold;
    font-size: 30px;
    color: #ffffff;
}

.main-screen--block .subtitle {
    display: flex;
    align-items: center;
    margin: 15px 0 50px;
    font-family: montserrat-regular;
    font-size: 16px;
    color: #ffffff;
}

.main-screen--block .subtitle div {
    margin: 0 20px;
    background-color: #ffffff;
    height: 20px;
    width: 1px;
}

.main-screen--block form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-screen--block form button {
    padding: 15px 65px;
    font-size: 16px;
    font-family: rubik-bold;
    background-color: #2787F5;
    border: none;
    border-radius: 3px;
    color: #ffffff;
}

.main-screen--block form button:hover {
    background-color: #2070c8;
}

.main-screen--block .row--block {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.main-screen--block .change--button {
    margin-top: 20px;
    width: 30px;
    height: 30px;
    padding: 8px;
    border-radius: 30px;
    background-color: #2787F5;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-screen--block .change--button:hover {
    background-color: #2070c8;
}

.main-screen--block .row--block:nth-child(1) .field--block:nth-child(1),
.main-screen--block .change--button {
    margin-right: 30px;
}

.main-screen--block .row--block:nth-child(2) {
    margin-bottom: 50px;
}

.main-screen--block .row--block:nth-child(2) .field--block:nth-child(1) {
    margin-right: 90px;
}

.main-screen--block .field--block input {
    padding: 15px 20px 16px;
    font-size: 16px;
    font-family: rubik-medium;
    border: none;
    background-color: #ffffff;
    border-radius: 3px;
    display: block;
    width: 250px;
}

.main-screen--block .field--block div {
    display: flex;
    align-items: center;
}

.main-screen--block .field--block div input {
    width: 130px;
    border-radius: 0;
    text-align: center;
}

.main-screen--block .field--block div button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #ffffff;
    padding: 15px 20px;
}

.main-screen--block .field--block div button:hover svg path {
    fill: #2070c8;
}

.main-screen--block .field--block label {
    display: block;
    color: #ffffff;
    font-size: 13px;
    margin-bottom: 5px;
    font-family: rubik-medium;
}

.routes--block,
.trains--block {
    width: 100%;
    max-width: 1620px;
    /*padding: 0 150px;*/
    margin-top: 100px;
}

.routes--block .title,
.trains--block .title {
    font-family: montserrat-semibold;
    font-size: 30px;
    color: #000000;
}

.routes--block .subtitle,
.trains--block .subtitle {
    font-family: montserrat-regular;
    font-size: 16px;
    color: #000000;
    margin: 10px 0 30px;
}

.routes--block .subtitle span,
.trains--block .subtitle span {
    font-family: montserrat-medium;
    color: #2787F5;
}

.routes--block .routes--block-1 div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.routes--block .routes--block-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.routes--block .routes--block-1 .route--link.main {
    width: 520px;
    height: 500px;
}

.routes--block .routes--block-1 .route--link {
    width: 520px;
    height: 240px;
    padding: 50px;
    display: flex;
    align-items: flex-end;
    border-radius: 3px;
}

.routes--block .routes--block-1 .route--link:last-child {
    margin: 0;
}

.routes--block .routes--block-1 .route--link div {
    font-family: montserrat-bold;
    font-size: 25px;
    color: #ffffff;
}

.trains--block .trains--block-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.trains--block .trains--block-1 .train--link {
    width: 383px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 3px;
    padding: 50px;
}

.trains--block .trains--block-1 .train--link div {
    text-align: center;
    font-family: montserrat-bold;
    font-size: 30px;
    color: #ffffff;
}
