@font-face {
    font-family: 'montserrat-regular';
    src: url('/css/fonts/Montserrat/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-medium';
    src: url('/css/fonts/Montserrat/Montserrat-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-bold';
    src: url('/css/fonts/Montserrat/Montserrat-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-semibold';
    src: url('/css/fonts/Montserrat/Montserrat-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubik-medium';
    src: url('/css/fonts/Rubik/Rubik-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubik-bold';
    src: url('/css/fonts/Rubik/Rubik-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubik-light';
    src: url('/css/fonts/Rubik/Rubik-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubik-regular';
    src: url('/css/fonts/Rubik/Rubik-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    min-width: 1620px;
    padding-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #EDEEF0;
}

main {
    min-height: 80vh;
}

a {
    cursor: pointer;
    text-decoration: none;
    transition: opacity .1s;
}

a:hover {
    opacity: 80%;
}

button {
    cursor: pointer;
    transition: background-color .2s;
}

.logo--link:hover {
    opacity: 100%;
}

.header--block {
    height: 60px;
    position: fixed;
    top: 0;
    background-color: #175090;
    width: 100%;
    min-width: 1620px;
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.header--block .logo--link img {
    display: block;
    height: 40px;
}

.header--block .links--block {
    display: flex;
    margin-left: 85px;
}

.header--block .links--block a {
    color: #ffffff;
    font-family: montserrat-medium;
    font-size: 13px;
    margin-right: 50px;
    padding: 5px;
}

.header--block .links--block a.active {
    font-family: montserrat-semibold;
    border-bottom: 1px solid #ffffff;
}

.header--block .links--block a:last-child {
    margin-right: 0;
}

.header--block .login-signup--link {
    width: 221px;
    font-family: montserrat-regular;
    font-size: 13px;
    color: #ffffff;
}

.header--block .login-signup--link a {
    color: #ffffff;
    font-family: montserrat-semibold;
    text-decoration: underline;
}

footer {
    width: 100%;
    margin-top: 100px;
    padding: 50px 150px;
    background-color: #0000001A;
    display: flex;
    justify-content: space-between;
}

footer .logo-author {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

footer .logo--link:hover {
    opacity: 100%;
}

footer .author {
    font-size: 13px;
    font-family: montserrat-regular;
    color: #000000;
}

footer .links--block {
    display: flex;
}

footer .links--block .links-column--block {
    margin-right: 100px;
}

footer .links--block .links-column--block:last-child {
    margin: 0;
}

footer .links--block a {
    display: block;
    font-size: 13px;
    margin-bottom: 20px;
    font-family: montserrat-regular;
    color: #000000;
}

footer .links--block a:last-child {
    margin: 0;
}

footer .contacts--block a {
    display: flex;
    align-items: center;
    color: #000000;
    font-family: montserrat-regular;
    font-size: 16px;
}

footer .contacts--block a:not(:last-child) {
    margin-bottom: 20px;
}

footer .contacts--block div {
    margin-left: 15px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.background--block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-in .3s;
    transition: opacity .3s;
    z-index: 2;
}

.background--block form {
    padding: 50px 125px;
    background-color: #ffffff;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: fade-in .3s;
    animation-fill-mode: forwards;
    animation-delay: .2s;
    transition: opacity .2s;
}

.background--block .title {
    font-family: montserrat-bold;
    font-size: 30px;
    color: #000000;
    margin-bottom: 50px;
}

.background--block .login--form .field--block {
    margin-bottom: 30px;
}

.background--block .signup--form .field--block:not(:last-child) {
    margin-right: 30px;
}

.background--block .field--block label {
    font-size: 13px;
    font-family: rubik-medium;
    display: block;
    margin-bottom: 5px;
    color: #000000;
}

.background--block .field--block input[type="text"], 
.background--block .field--block input[type="email"], 
.background--block .field--block input[type="password"],
.background--block .field--block input[type="date"], 
.background--block .field--block input[type="time"], 
.background--block .field--block textarea {
    position: relative;
    width: 250px;
    padding: 15px 20px 16px;
    font-size: 16px;
    font-family: rubik-medium;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 3px;
}
textarea {
    min-width: 530px;
    min-height: 7em;
    resize: none;
}

.background--block .form--block {
    display: flex;
    align-items: flex-start;
}

.background--block form button {
    color: #ffffff;
    width: 250px;
    padding: 15px 0 16px;
    font-size: 16px;
    font-family: rubik-bold;
    border: none;
    border-radius: 3px;
    background-color: #2787F5;
    margin: 20px 0 30px;
}

.background--block form button:hover {
    background-color: #2070c8;
}

.background--block .close--button {
    background-color: inherit;
    border: none;
    margin-left: 10px;
}

.background--block .close--button:hover path {
    fill: #ffffff;
}

.background--block .another-form--link {
    line-height: 25px;
    font-family: montserrat-medium;
    color: #000000;
    font-size: 13px;
    text-align: center;
}

.background--block .another-form--link a {
    font-family: montserrat-semibold;
    color: #2787F5;
    text-decoration: underline;
}

.background--block .row--block {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.user--panel {
    position: relative;
    background-color: #2787F5;
    border-radius: 3px;
}

.user--panel a {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
}

.user--panel .popup-menu--block {
    position: absolute;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 3px;
}

.user--panel a div,
.user--panel a {
    position: static;
    font-family: montserrat-regular;
    font-size: 13px;
    font-weight: bold;
    color: #000000;
    width: 100%;
    text-align: center;
}

.user--panel .first--link div {
    display: block;
    background-color: inherit;
    color: #ffffff;
}

.user--panel .button--block {
    position: absolute;
    color: #ffffff;
}

.logout--link {
    cursor: pointer;
    transition: opacity .1s;
    color: #ffffff;
    font-family: montserrat-semibold;
    text-decoration: underline;
}

.logout--link:hover {
    opacity: 80%;
}

.pagination {
    font-family: 'rubik-light';
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pagination > *:not(:last-child) {
    margin-right: 5px;
}

.current-page {
    font-weight: bold;
}

.error-popup {
    opacity: 0;
    font-family: 'rubik-medium';
    max-width: 250px;
    font-size: 0.75rem;
    color: #DDD;
    position: absolute;
    margin-top: 3px;
    background-color: #000000BB;
    padding: .5em 5px;
    transition: opacity .2s;
    border-radius: 2px;
}

.error-popup::before {
    content: "";
    border-style: solid;
    border-width: 0px 15px 15px 15px;
    transform: rotate(-45deg);
    border-color: transparent #000000BB transparent transparent;
    position: absolute;
    left: 0px;
    top: -2px;
}