@font-face {
    font-family: 'montserrat-regular';
    src: url('/css/fonts/Montserrat/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-medium';
    src: url('/css/fonts/Montserrat/Montserrat-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-bold';
    src: url('/css/fonts/Montserrat/Montserrat-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-semibold';
    src: url('/css/fonts/Montserrat/Montserrat-Semibold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubik-medium';
    src: url('/css/fonts/Rubik/Rubik-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubik-bold';
    src: url('/css/fonts/Rubik/Rubik-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubik-light';
    src: url('/css/fonts/Rubik/Rubik-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #EDEEF0;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    opacity: 80%;
}

button {
    cursor: pointer;
}

.header-main-screen--block {
    margin-top: 30px;
    width: 100%;
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-main-screen--block .logo--link img {
    display: block;
    height: 40px;
}

.header-main-screen--block .logo--link:hover {
    opacity: 100%;
}


.header-main-screen--block .links--block {
    display: flex;
}

.header-main-screen--block .links--block a {
    color: #ffffff;
    font-family: montserrat-medium;
    font-size: 13px;
    margin-right: 50px;
    padding: 5px;
}

.header-main-screen--block .links--block a.active {
    font-family: montserrat-semibold;
    border-bottom: 1px solid #ffffff;
}

.header-main-screen--block .links--block a:last-child {
    margin: 0;
}

.header-main-screen--block .login-signup--link {
    font-family: montserrat-regular;
    font-size: 13px;
    color: #ffffff;
}

.header-main-screen--block .login-signup--link a {
    color: #ffffff;
    font-family: montserrat-semibold;
    text-decoration: underline;
}

footer {
    width: 100%;
    margin-top: 100px;
    padding: 50px 150px;
    background-color: #0000001A;
    display: flex;
    justify-content: space-between;
}

footer .logo-author {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

footer .logo--link:hover {
    opacity: 100%;
}

footer .author {
    font-size: 13px;
    font-family: montserrat-regular;
    color: #000000;
}

footer .links--block {
    display: flex;
}

footer .links--block .links-column--block {
    margin-right: 100px;
}

footer .links--block .links-column--block:last-child {
    margin: 0;
}

footer .links--block a {
    display: block;
    font-size: 16px;
    margin-bottom: 20px;
    font-family: montserrat-regular;
    color: #000000;
}

footer .links--block a:last-child {
    margin: 0;
}

footer .contacts--block a {
    display: flex;
    align-items: center;
    color: #000000;
    font-family: montserrat-regular;
    font-size: 16px;
}

footer .contacts--block a:first-child {
    margin-bottom: 20px;
}

footer .contacts--block div {
    margin-left: 15px;
}

.background--block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background--block form {
    padding: 50px 125px;
    background-color: #ffffff;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background--block .title {
    font-family: montserrat-bold;
    font-size: 30px;
    color: #000000;
    margin-bottom: 50px;
}

.background--block .login--form .field--block {
    margin-bottom: 30px;
}

.background--block .signup--form .field--block {
    margin-right: 30px;
}

.background--block .signup--form .field--block:last-child {
    margin-right: 0;
}

.background--block .field--block label {
    font-size: 13px;
    font-family: rubik-medium;
    display: block;
    margin-bottom: 5px;
    color: #000000;
}

.background--block .field--block input {
    width: 250px;
    padding: 15px 20px 16px;
    font-size: 16px;
    font-family: rubik-medium;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 3px;
}

.background--block .form--block {
    display: flex;
    align-items: flex-start;
}

.background--block form button {
    color: #ffffff;
    width: 250px;
    padding: 15px 0 16px;
    font-size: 16px;
    font-family: rubik-bold;
    border: none;
    border-radius: 3px;
    background-color: #2787F5;
    margin: 20px 0 30px;
}

.background--block form button:hover {
    background-color: #2070c8;
}

.background--block .close--button {
    background-color: inherit;
    border: none;
    margin-left: 10px;
}

.background--block .close--button:hover path {
    fill: #ffffff;
}

.background--block .another-form--link {
    line-height: 25px;
    font-family: montserrat-medium;
    color: #000000;
    font-size: 13px;
    text-align: center;
}

.background--block .another-form--link a {
    font-family: montserrat-semibold;
    color: #2787F5;
    text-decoration: underline;
}

.background--block .row--block {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}